@import '@/styles/colors';

.bread {
	ol {
		list-style: none;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		color: white;
		margin: 10px;
		li {
			margin-right: 5px;

			color: $primary;

			a {
				color: white;
			}
		}
	}
}