@import '@/styles/colors';
@import '@/styles/mixin';

.pageContainer {
	margin-top: 80px;
}

.services {
    display: flex;
    width: 100%;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
	margin: 100px 0;

	article {
		flex-basis: 100%;
		padding: 10px;
		text-align: center;

		h2 {
			font-size: 25px;
    		margin: 10px 0;
			text-transform: uppercase;
			color: $primary;
		}

		svg {
			fill: $primary;
			width: 40px;
			height: 40px;
		}

		p {
			letter-spacing: 1px;
			line-height: 20px;
		}
	}

	@include for-540 {
		flex-direction: column;
		margin: 80px 0;
	}
}

.aboutUs {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
	margin-top: 80px;
	padding: 0 10px;
	margin: 100px 0;

	.imgContainer {
		position: relative;
		width: 100%;
		height: 400px;
		flex: 1;

		.imgBorder {
			width: 300px;
			height: 300px;
			background: $primary;
			padding: 10px;
			position: absolute;
    		top: -50px;
		}

		img {
			object-fit: cover;
		}

		@include for-540 {
				flex: auto;
			}
	}

	.copy {
		flex: 1;
		margin-left: 20px;
		color: white;
	}

	@include for-540 {
		flex-direction: column;
	}
}